<!-- Generated template for the ProgressUploadComponent component -->
<div>
    <div class="fixed xp-progress-upload-container a3-container-center a3-column animated fadeIn">
      <div class="box-shadow overlay-container">
          <div class="xp-pro-upload-header title-font-1" text-center>Ship UGF</div>
          <div class="padding">
              <div class="spinnner-container">
                  <div text-center class="cssload-fond">
                    <div class="cssload-container-general">
                      <div class="cssload-internal">
                        <div class="cssload-ballcolor cssload-ball_1"> </div>
                      </div>
                      <div class="cssload-internal">
                        <div class="cssload-ballcolor cssload-ball_2"> </div>
                      </div>
                      <div class="cssload-internal">
                        <div class="cssload-ballcolor cssload-ball_3"> </div>
                      </div>
                      <div class="cssload-internal">
                        <div class="cssload-ballcolor cssload-ball_4"> </div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div text-center margin-bottom margin-top>{{nowDistance}} %</div>
                <div class="loading-res-progress-container">
                    <div class="loading-res-progress-animate" id="progressAnimatedID"></div>
                </div>
            
                <div class="body-font" text-center  padding>
                  {{message}}
                </div>
          </div>
      </div>
    </div>
  </div>
