page-loading {
    .scroll-content{
        overflow-y: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("/assets/imgs/loading.png");
        background-color: map-get($map: $appColors, $key: primary);
    }
}
